doctype html
html
  head
    title Pepe's Food
    link(rel='stylesheet', href='/styles.css')
  body
      header
            h1 Pepe's Food
            nav
               ul
                li
                    a(href='/') Menu 
                li
                    a(href="#") Contactos
                li
                    a(href="#") Nosotros
                li
                    a(href="#") Perfil
      main
            section.menu
                     
            
   
            h2 Combos
                ul
                    li
                    img(src="hyp.jpg" alt="Burger Combo")
                     
            h3 Bebidas
                ul
                    li
                    img(src="bebidas.jpg" alt="Soda")
                 
            h2 Solos
               ul
                    li
                    img(src="h.jpg" alt="Solo Burger")
                
            h3 Postres
               ul
                    li
                    img(src="postres.jpg" alt="Postre")
      footer
                a(href='/') Volver a Inicio
                p © 2025 Restaurante. Todos los derechos reservados.